asgiref==3.11.0
crispy-bootstrap5==2025.6
Django==6.0
django-crispy-forms==2.5
gunicorn==23.0.0
packaging==25.0
psycopg==3.3.2
psycopg-binary==3.3.2
sqlparse==0.5.4
typing_extensions==4.15.0
tzdata==2025.3
waitress==3.0.2
whitenoise==6.11.0
winfcntl==1.1.9
